@charset "UTF-8";

footer {
  background-color: #694fb4;
  color: #ffffff;
  font-size: 1.2rem;
}

footer > .first-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 90%;
  max-width: 980px;
  margin: auto;
  padding-top: 20px;
}

footer > .first-content > div > h4 {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

footer > .first-content > div > a,
footer > .second-content > div > a {
  color: #ffffff;
}

footer > .second-content {
  text-align: center;
  padding: 20px 0 30px 0;
}

footer > .second-content > .logo {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 40px;
  align-items: center;
}

footer > .second-content > .logo > a {
  max-width: 130px;
  display: flex;
  justify-content: center;
}

footer > .second-content > .logo > a > ion-icon {
  font-size: 5rem;
}

footer > .second-content > .info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 980px;
  margin: auto;
}

footer > .second-content > .info > a {
  text-decoration: underline;
}
