main > section {
  display: flex;
  justify-content: center;

  align-items: center;
  text-align: center;
  justify-items: center;
  align-content: center;
}

main > section > .container {
  max-width: 980px;
  padding: 25px;
}

main > section > .container > .slogan {
  padding: 25px;
  text-align: center;
  font-size: 1.2rem;
}

main > section > .container > .slogan > h2 {
  padding: 0.5em 0;
  border-bottom: 1px solid #cccccc;
}

main > section > .container > .slogan > h2:last-child {
  border-bottom: 0;
}

main > section > .container > .illustration > img {
  height: 450px;
}

main > .search-bar {
  padding: 5% 25% 5% 25%;
  display: flex;
  align-items: center;

  justify-content: center;
}

main > .search-bar > input {
  width: 980px;
  background-color: #ffffff;
  height: 32px;
  border: 1px solid #000000;
  flex-grow: 1;
  font-size: 1rem;
  padding-left: 4px;
}

main > .search-bar > button {
  background-color: #ffffff;
  height: 35px;
  min-width: 35px;
  border: 1px solid #000000;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
TO FIX - AQUI VAI OS LIVROS EM DESTAQUE
*/
main > .cards {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

main > .cards > div > .showcase {
  background-color: #694fb4;
  border-radius: 4px;
  min-width: 980px;
  min-height: 250px;
  display: flex;

  justify-content: center;
  align-items: center;
}

main > .cards > div > .showcase > button {
  background-color: #bf8bff;
  align-items: center;
  border-radius: 30%;
  display: flex;
  justify-content: center;
}

main > .cards > div > .showcase > button > ion-icon {
  font-size: 35px;
  color: #ffffff;
}

main > .cards > div > .showcase > .product {
  padding: 15px;
}

main > .cards > div > .showcase > .product > img {
  height: 200px;
  padding: 15px;
}

main > .cards > div > .showcase > .product > .product-information > h3,
main > .cards > div > .showcase > .product > .product-information > span {
  color: #ffffff;
  font-size: 1.2rem;
}
