@charset "UTF-8";

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main > section > .presentation {
  max-width: 980px;
  font-size: 1.2rem;
  padding: 25px;
}

main > section > .presentation > .slogan > h2 {
  padding: 0.5em 0;
  border-bottom: 1px solid #cccccc;
}

main > section > .presentation > .slogan > h2:last-child {
  border-bottom: 0;
}

main > section > .presentation > .illustration > img {
  height: 450px;
  /*background-color: #694fb4;*/
}

main > .search-bar {
  padding: 5% 25% 5% 25%;
  display: flex;
  width: 980px;
  /*background-color: #694fb4;*/
}

main > .search-bar > input {
  background-color: #ffffff;
  height: 32px;
  border: 1px solid #000000;
  flex-grow: 1;
  font-size: 1rem;
  padding-left: 4px;
}

main > .search-bar > button {
  background-color: #ffffff;
  height: 35px;
  min-width: 35px;
  border: 1px solid #000000;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
AQUI VAI OS LIVROS EM DESTAQUE
TO FIX - CORRIGIR O LAYOUT E CRIAR CONEXÃO COM BANDO DE DADOS
*/
main > .ebooks {
  display: flex;
  flex-direction: column;

  padding: 25px;
}

main > .ebooks > div > h2 {
  font-size: 2rem;
  text-align: left;
  padding: 20px 0 20px 0;
}

main > .ebooks > div > .products {
  background-color: #694fb4;
  border-radius: 4px;
  max-width: 980px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > .ebooks > div > .products > button {
  background-color: #bf8bff;
  align-items: center;
  border-radius: 30%;
  display: flex;
  justify-content: center;
}

main > .ebooks > div > .products > button > ion-icon {
  font-size: 2.25rem;
  color: #ffffff;
}

main > .ebooks > div > .products > .product {
  padding: 15px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

main > .ebooks > div > .products > .product > img {
  height: 200px;
  padding: 15px;
}

main > .ebooks > div > .products > .product > .product-information > h3,
main > .ebooks > div > .products > .product > .product-information > span {
  color: #ffffff;
  font-size: 1.2rem;
}
