@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #bf8bff;
  width: 100vw;
  height: 100vh;
}

.text-primary {
  color: #bf8bff;
}

.bg-primary {
  background-color: #bf8bff;
}

form {
  width: 550px;
  margin-top: -10vh;
}

.delete-form {
  width: auto;
  margin-top: auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 0;
}
