@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/*RESET*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  font: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f1f1f1;
}

/*=============================
MEDIA QUERIES
=============================*/
@media (max-width: 425px) {
  main > section > .presentation > .illustration > img {
    height: 125px;
  }
  /*
  main > .ebooks > div > .showcase {
  }*/
}

@media (max-width: 600px) {
  main > section > .presentation > .illustration > img {
    height: 250px;
  }
}

@media (max-width: 630px) {
  header > .container {
    justify-content: space-around;
  }

  header > .container > .left-logo {
    order: 1;
  }

  header > .container > .menu-section {
    order: 3;
  }

  header > .container > .menu-section.on {
    background-color: #694fb4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header > .container > .menu-section > .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  header > .container > .menu-section > .menu-toggle > .one,
  header > .container > .menu-section > .menu-toggle > .two,
  header > .container > .menu-section > .menu-toggle > .three {
    background-color: #ffffff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  header > .container > .menu-section > nav {
    display: none;
  }

  header > .container > .menu-section.on > nav {
    display: block;
  }

  header > .container > .menu-section.on > .menu-toggle {
    position: relative;
    right: 25px;
    top: 15px;
  }

  header > .container > .menu-section.on > .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  header > .container > .menu-section.on > .two {
    opacity: 0;
  }

  header > .container > .menu-section.on > .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  header > .container > .menu-section.on > .middle-menu-bar > ul {
    text-align: center;
    display: block;
  }

  header > .container > .menu-section.on > .middle-menu-bar > ul > a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }

  header > .container > .right-profile {
    max-width: 30px;
    max-height: 20px;
    order: 2;
  }

  header > .container > .right-profile > a > ion-icon {
    font-size: 3rem;
    padding: 2px 4px 2px 4px;
  }
}

@media (max-width: 832px) {
  html {
    font-size: 60%;
  }

  header > .container > .right-profile > a {
    max-width: 60px;
  }

  header > .container > .right-profile > a > ion-icon {
    font-size: 1.8rem;
  }

  main > section > .presentation {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1068px) {
  footer > .first-content {
    grid-template-columns: repeat(auto-fit, minmax(330px, 2fr));
  }
}

@media (max-width: 1200px) {
  section > .container > .illustration > img {
    height: 350px;
  }
}
